x-common-env: &common-env
  CONFIG_SERVER: config-server
  CONFIG_SERVER_PORT: ${CONFIG_SERVER_PORT}
  DISCOVERY_SERVER: discovery-server
  DISCOVERY_SERVER_PORT: ${DISCOVERY_SERVER_PORT}

x-common-healthcheck: &common-healthcheck
  interval: 10s
  timeout: 5s
  retries: 10
  start_period: 90s

x-database-healthcheck: &database-healthcheck
  interval: 10s
  timeout: 5s
  retries: 10
  start_period: 60s

x-common-service: &common-service
  networks:
    ecommerce-net:
  restart: unless-stopped
  stdin_open: true
  tty: true

services:
  config-server:
    image: abdelaziz333/config-server:1.0
    build:
      context: ./config-server
    ports:
      - "${CONFIG_SERVER_PORT}:${CONFIG_SERVER_PORT}"
    environment:
      PORT: ${CONFIG_SERVER_PORT}
      GIT_CONFIG_REPOSITORY_URI: https://github.com/AbdElAziz333/ecommerce-config.git
      GIT_USERNAME: AbdElAziz333
      GIT_PAT: ${GIT_PAT}
    <<: *common-service
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:${CONFIG_SERVER_PORT}/actuator/health"]
      <<: *common-healthcheck

  discovery-server:
    image: abdelaziz333/discovery-server:1.0
    build:
      context: ./discovery-server
    ports:
      - "${DISCOVERY_SERVER_PORT}:${DISCOVERY_SERVER_PORT}"
    environment:
      <<: *common-env
    <<: *common-service
    depends_on:
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:${DISCOVERY_SERVER_PORT}/actuator/health" ]
      <<: *common-healthcheck

  auth-service:
    image: abdelaziz333/auth-service:1.0
    build:
      context: ./auth-service
    ports:
      - "${AUTH_SERVICE_PORT}:${AUTH_SERVICE_PORT}"
    environment:
      <<: *common-env
      PORT: ${AUTH_SERVICE_PORT}
      POSTGRES_HOST: auth-postgres
      POSTGRES_DB: ${AUTH_POSTGRES_DB}
      POSTGRES_PORT: 5432
      POSTGRES_USER: ${AUTH_POSTGRES_USER}
      POSTGRES_PASSWORD: ${AUTH_POSTGRES_PASSWORD}
      REDIS_HOST: auth-redis
      REDIS_PORT: 6379
      REDIS_USER: ${AUTH_REDIS_USER}
      REDIS_PASSWORD: ${AUTH_REDIS_PASSWORD}
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      KAFKA_PORT: ${KAFKA_PORT}
      ACCESS_TOKEN_SECRET: ${ACCESS_TOKEN_SECRET}
      REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET}
    <<: *common-service
    depends_on:
      config-server:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      auth-postgres:
        condition: service_healthy
      auth-redis:
        condition: service_healthy
      infra-kafka:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:${AUTH_SERVICE_PORT}/actuator/health" ]
      <<: *common-healthcheck

  product-service:
    image: abdelaziz333/product-service:1.0
    build:
      context: ./product-service
    ports:
      - "${PRODUCT_SERVICE_PORT}:${PRODUCT_SERVICE_PORT}"
    environment:
      <<: *common-env
      PORT: ${PRODUCT_SERVICE_PORT}
      MONGO_HOST: product-mongo
      MONGO_DATABASE: ${PRODUCT_MONGO_DB}
      MONGO_USER: ${PRODUCT_MONGO_USER}
      MONGO_PASSWORD: ${PRODUCT_MONGO_PASSWORD}
    <<: *common-service
    depends_on:
      config-server:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      product-mongo:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:${PRODUCT_SERVICE_PORT}/actuator/health" ]
      <<: *common-healthcheck

  cart-service:
    image: abdelaziz333/cart-service:1.0
    build:
      context: ./cart-service
    ports:
      - "${CART_SERVICE_PORT}:${CART_SERVICE_PORT}"
    environment:
      <<: *common-env
      PORT: ${CART_SERVICE_PORT}
      POSTGRES_HOST: cart-postgres
      POSTGRES_DB: ${CART_POSTGRES_DB}
      POSTGRES_USER: ${CART_POSTGRES_USER}
      POSTGRES_PASSWORD: ${CART_POSTGRES_PASSWORD}
      POSTGRES_PORT: 5432
      REDIS_HOST: cart-redis
      REDIS_PORT: 6379
      REDIS_USER: ${CART_REDIS_USER}
      REDIS_PASSWORD: ${CART_REDIS_PASSWORD}
    <<: *common-service
    depends_on:
      config-server:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      cart-postgres:
        condition: service_healthy
      cart-redis:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:${CART_SERVICE_PORT}/actuator/health" ]
      <<: *common-healthcheck

  order-service:
    image: abdelaziz333/order-service:1.0
    build:
      context: ./order-service
    ports:
      - "${ORDER_SERVICE_PORT}:${ORDER_SERVICE_PORT}"
    environment:
      <<: *common-env
      PORT: ${ORDER_SERVICE_PORT}
      POSTGRES_HOST: order-postgres
      POSTGRES_DB: ${ORDER_POSTGRES_DB}
      POSTGRES_PORT: 5432
      POSTGRES_USER: ${ORDER_POSTGRES_USER}
      POSTGRES_PASSWORD: ${ORDER_POSTGRES_PASSWORD}
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      KAFKA_PORT: ${KAFKA_PORT}
    <<: *common-service
    depends_on:
      config-server:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      order-postgres:
        condition: service_healthy
      infra-kafka:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:${ORDER_SERVICE_PORT}/actuator/health" ]
      <<: *common-healthcheck

  payment-service:
    image: abdelaziz333/payment-service:1.0
    build:
      context: ./payment-service
    ports:
      - "${PAYMENT_SERVICE_PORT}:${PAYMENT_SERVICE_PORT}"
    environment:
      <<: *common-env
      PORT: ${PAYMENT_SERVICE_PORT}
      POSTGRES_HOST: payment-postgres
      POSTGRES_DB: ${PAYMENT_POSTGRES_DB}
      POSTGRES_USER: ${PAYMENT_POSTGRES_USER}
      POSTGRES_PASSWORD: ${PAYMENT_POSTGRES_PASSWORD}
      POSTGRES_PORT: 5432
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      KAFKA_PORT: ${KAFKA_PORT}
    <<: *common-service
    depends_on:
      config-server:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      payment-postgres:
        condition: service_healthy
      infra-kafka:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:${PAYMENT_SERVICE_PORT}/actuator/health" ]
      <<: *common-healthcheck

  notification-service:
    image: abdelaziz333/notification-service:1.0
    build:
      context: ./notification-service
    ports:
      - "${NOTIFICATION_SERVICE_PORT}:${NOTIFICATION_SERVICE_PORT}"
    environment:
      <<: *common-env
      PORT: ${NOTIFICATION_SERVICE_PORT}
      MAIL_USER: ${MAIL_USER}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      KAFKA_PORT: ${KAFKA_PORT}
    <<: *common-service
    depends_on:
      config-server:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      infra-kafka:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:${NOTIFICATION_SERVICE_PORT}/actuator/health" ]
      <<: *common-healthcheck

  api-gateway:
    image: abdelaziz333/api-gateway:1.0
    build:
      context: ./api-gateway
    ports:
      - "${API_GATEWAY_PORT}:${API_GATEWAY_PORT}"
    environment:
      <<: *common-env
    <<: *common-service
    depends_on:
      config-server:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      auth-service:
        condition: service_healthy
      notification-service:
        condition: service_healthy
      product-service:
        condition: service_healthy
      payment-service:
        condition: service_healthy
      order-service:
        condition: service_healthy
      cart-service:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:${API_GATEWAY_PORT}/actuator/health" ]
      <<: *common-healthcheck

  auth-postgres:
    image: postgres:16-alpine
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${AUTH_POSTGRES_DB}
      POSTGRES_USER: ${AUTH_POSTGRES_USER}
      POSTGRES_PASSWORD: ${AUTH_POSTGRES_PASSWORD}
    <<: *common-service
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${AUTH_POSTGRES_USER} -d ${AUTH_POSTGRES_DB}"]
      <<: *database-healthcheck

  auth-redis:
    image: redis:8.4.0-alpine
    environment:
      REDISCLI_USER: ${AUTH_REDIS_USER}
      REDISCLI_PASSWORD: ${AUTH_REDIS_PASSWORD}
    volumes:
      - auth_redis_data:/data
      - ./config/redis/auth_redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    <<: *common-service
    healthcheck:
      test: ["CMD", "redis-cli", "PING"]
      <<: *database-healthcheck

  product-mongo:
    image: mongo:latest
    volumes:
      - product_mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: ${PRODUCT_MONGO_DB}
      MONGO_INITDB_ROOT_USERNAME: ${PRODUCT_MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${PRODUCT_MONGO_PASSWORD}
    <<: *common-service
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      <<: *database-healthcheck

  cart-postgres:
    image: postgres:16-alpine
    volumes:
      - cart_postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${CART_POSTGRES_DB}
      POSTGRES_USER: ${CART_POSTGRES_USER}
      POSTGRES_PASSWORD: ${CART_POSTGRES_PASSWORD}
    <<: *common-service
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${CART_POSTGRES_USER} -d ${CART_POSTGRES_DB}" ]
      <<: *database-healthcheck

  cart-redis:
    image: redis:8.4.0-alpine
    environment:
      REDISCLI_USER: ${CART_REDIS_USER}
      REDISCLI_PASSWORD: ${CART_REDIS_PASSWORD}
    volumes:
      - cart_redis_data:/data
      - ./config/redis/cart_redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    <<: *common-service
    healthcheck:
      test: ["CMD", "redis-cli", "PING"]
      <<: *database-healthcheck

  order-postgres:
    image: postgres:16-alpine
    volumes:
      - order_postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${ORDER_POSTGRES_DB}
      POSTGRES_USER: ${ORDER_POSTGRES_USER}
      POSTGRES_PASSWORD: ${ORDER_POSTGRES_PASSWORD}
    <<: *common-service
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${ORDER_POSTGRES_USER} -d ${ORDER_POSTGRES_DB}" ]
      <<: *database-healthcheck

  payment-postgres:
    image: postgres:16-alpine
    volumes:
      - payment_postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${PAYMENT_POSTGRES_DB}
      POSTGRES_USER: ${PAYMENT_POSTGRES_USER}
      POSTGRES_PASSWORD: ${PAYMENT_POSTGRES_PASSWORD}
    <<: *common-service
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${PAYMENT_POSTGRES_USER} -d ${PAYMENT_POSTGRES_DB}" ]
      <<: *database-healthcheck

  # Infrastructure

  infra-kafka:
    image: bitnami/kafka:latest
    volumes:
      - infra_kafka_data:/bitnami/kafka
    environment:
      KAFKA_CFG_PROCESS_ROLES: controller,broker
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://infra-kafka:9092
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@infra-kafka:9093

      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      ALLOW_PLAINTEXT_LISTENER: yes
      #KRaft mode configuration
#      KAFKA_CFG_PROCESS_ROLES: controller,broker
#      KAFKA_CFG_NODE_ID: 1
#      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
#
#      # Listeners - SASL_PLAINTEXT for client connections, PLAINTEXT for controller
#      KAFKA_CFG_LISTENERS: SASL_PLAINTEXT://:9092,CONTROLLER://:9093
#      KAFKA_CFG_ADVERTISED_LISTENERS: SASL_PLAINTEXT://infra-kafka:9092
#
#      # KRaft controller quorum
#      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@infra-kafka:9093
#
#      # Security Protocol Mapping
#      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: SASL_PLAINTEXT:SASL_PLAINTEXT,CONTROLLER:SASL_PLAINTEXT
#
#      # SASL Configurations
#      KAFKA_CFG_SASL_MECHANISM_INTER_BROKER_PROTOCOL: SCRAM-SHA-256
#      KAFKA_CFG_SASL_ENABLED_MECHANISMS: SCRAM-SHA-256
#
#      # KRaft cluster ID
#      KAFKA_KRAFT_CLUSTER_ID: abcdefghijklmnopqrstuv # 22 chars, base64
#
#      # Inter-broker communication (controller uses PLAINTEXT internally)
#      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: SASL_PLAINTEXT # OR SASL_PLAINTEXT between inter-broker communication or PLAINTEXT
#
#      # Create initial admin user
#      KAFKA_CLIENT_USERS: ${KAFKA_USERS}
#      KAFKA_CLIENT_PASSWORDS: ${KAFKA_PASSWORDS}
#
#      # Authorization
#      KAFKA_CFG_AUTHORIZER_CLASS_NAME: org.apache.kafka.metadata.authorizer.StandardAuthorizer
#      KAFKA_CFG_SUPER_USERS: User:admin
#      KAFKA_CFG_ALLOW_EVERYONE_IF_NO_ACL_FOUND: "false"
#
#      KAFKA_CFG_CLIENT_LISTENER_NAME: SASL_PLAINTEXT
    <<: *common-service
    healthcheck:
      test: ["CMD-SHELL", "/opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 40s

  infra-prometheus:
    image: prom/prometheus:main
    volumes:
      - ./infra/observability/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    <<: *common-service
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:9090/-/healthy"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  infra-grafana:
    image: grafana/grafana:latest
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_PASSWORD}
      GF_PATHS_PROVISIONING: /infra/observability/grafana/provisioning
    volumes:
      - grafana_data:/var/lib/grafana
      - ./infra/observability/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./infra/observability/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
    <<: *common-service
    depends_on:
      infra-prometheus:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/api/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  # Exporters

  auth-postgres-exporter:
    image: prometheuscommunity/postgres-exporter:latest
    environment:
      DATA_SOURCE_NAME: "postgresql://${AUTH_POSTGRES_USER}:${AUTH_POSTGRES_PASSWORD}@auth-postgres:5432/${AUTH_POSTGRES_DB}?sslmode=disable"
    <<: *common-service
    depends_on:
      auth-postgres:
        condition: service_healthy

  cart-postgres-exporter:
    image: prometheuscommunity/postgres-exporter:latest
    environment:
      DATA_SOURCE_NAME: "postgresql://${CART_POSTGRES_USER}:${CART_POSTGRES_PASSWORD}@cart-postgres:5432/${CART_POSTGRES_DB}?sslmode=disable"
    <<: *common-service
    depends_on:
      cart-postgres:
        condition: service_healthy

  order-postgres-exporter:
    image: prometheuscommunity/postgres-exporter:latest
    environment:
      DATA_SOURCE_NAME: "postgresql://${ORDER_POSTGRES_USER}:${ORDER_POSTGRES_PASSWORD}@order-postgres:5432/${ORDER_POSTGRES_DB}?sslmode=disable"
    <<: *common-service
    depends_on:
      order-postgres:
        condition: service_healthy

  payment-postgres-exporter:
    image: prometheuscommunity/postgres-exporter:latest
    environment:
      DATA_SOURCE_NAME: "postgresql://${PAYMENT_POSTGRES_USER}:${PAYMENT_POSTGRES_PASSWORD}@payment-postgres:5432/${PAYMENT_POSTGRES_DB}?sslmode=disable"
    <<: *common-service
    depends_on:
      payment-postgres:
        condition: service_healthy

  auth-redis-exporter:
    image: oliver006/redis_exporter:alpine
    environment:
      REDIS_ADDR: "redis://${EXPORTER_REDIS_USER}:${EXPORTER_REDIS_PASSWORD}@auth-redis:6379"
    <<: *common-service
    depends_on:
      auth-redis:
        condition: service_healthy

  cart-redis-exporter:
    image: oliver006/redis_exporter:alpine
    environment:
      REDIS_ADDR: "redis://${EXPORTER_REDIS_USER}:${EXPORTER_REDIS_PASSWORD}@cart-redis:6379"
    <<: *common-service
    depends_on:
      cart-redis:
        condition: service_healthy

  product-mongo-exporter:
    image: percona/mongodb_exporter:0.47.2
    command:
      - "--mongodb.uri=mongodb://${PRODUCT_MONGO_USER}:${PRODUCT_MONGO_PASSWORD}@product-mongo:27017"
      - "--collect-all"
    <<: *common-service
    depends_on:
      product-mongo:
        condition: service_healthy

  kafka-exporter:
    image: danielqsj/kafka-exporter:latest
    command:
      - "--kafka.server=infra-kafka:9092"
    <<: *common-service
    depends_on:
      infra-kafka:
        condition: service_healthy

volumes:
  auth_postgres_data:
  auth_redis_data:
  product_mongo_data:
  order_postgres_data:
  cart_postgres_data:
  cart_redis_data:
  payment_postgres_data:
  infra_kafka_data:
  grafana_data:

networks:
  ecommerce-net:
    external: true