services:
  product-mongo-svc:
    container_name: product-mongo
    image: mongo:latest
    ports:
      - "${MONGO_PORT}:27017"
    networks:
      - ecommerce-net
    volumes:
      - product_mongo_data:/data/db
    secrets:
      - mongo_password
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DB}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD_FILE: /run/secrets/mongo_password
    restart: no

  product-elastic-svc:
    container_name: product-elastic
    image: elasticsearch:8.15.2
    ports:
      - "${ELASTIC_HTTP_PORT}:9200"
      - "${ELASTIC_TRANSPORT_PORT}:9300"
    networks:
      - ecommerce-net
    volumes:
      - product_elastic_data:/usr/share/elasticsearch/data
    environment:
      discovery.type: single-node
      xpack.security.enabled: false
      action.auto_create_index: true
      ES_JAVA_OPTS: -Xms512m -Xmx512m
    restart: no

  product-kibana-svc:
    container_name: product-kibana
    image: kibana:8.15.2
    ports:
      - "5601:5601"
    networks:
      - ecommerce-net
    environment:
      ELASTICSEARCH_HOSTS: http://product-elastic-svc:9200
      xpack.security.enabled: false
    depends_on:
      - product-elastic-svc
    restart: no

  product-kafka-svc:
    container_name: product-kafka
    image: bitnami/kafka:latest
    ports:
      - "${KAFKA_BROKER_PORT}:9092"
      - "${KAFKA_CONTROLLER_PORT}:9093"
    networks:
      - ecommerce-net
    volumes:
      - product_kafka_data:/bitnami/kafka
    environment:
      # Enable KRaft mode (no Zookeeper)
      KAFKA_CFG_PROCESS_ROLES: controller,broker
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093

      # Required even without auth
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT

      # Allow insecure listener (for dev only)
      ALLOW_PLAINTEXT_LISTENER: yes
    restart: no

volumes:
  product_mongo_data:
  product_elastic_data:
  product_kafka_data:

secrets:
  elastic_password:
    file: secrets/elastic_password.txt
  mongo_password:
    file: secrets/mongo_password.txt

networks:
  ecommerce-net:
    external: true