services:
  auth-redis-svc:
    container_name: auth-redis
    image: redis:alpine
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      - ecommerce-net
    restart: no

networks:
  ecommerce-net:
    external: true