services:
  product-mongo-svc:
    container_name: product-mongo
    image: mongo:latest
    ports:
      - "${MONGO_PORT}:27017"
    networks:
      - product-net
    volumes:
      - product_mongo_data:/data/db
    secrets:
      - mongo_password
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DB}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD_FILE: /run/secrets/mongo_password
    restart: no

  product-elastic-svc:
    container_name: product-elastic
    image: elasticsearch:9.1.5
    ports:
      - "${ELASTIC_HTTP_PORT}:9200"
      - "${ELASTIC_TRANSPORT_PORT}:9300"
    networks:
      - product-net
    volumes:
      - product_elastic_data:/usr/share/elasticsearch/data
    secrets:
      - elastic_password
    environment:
      discovery.type: single-node
      ELASTIC_USERNAME: ${ELASTIC_USERNAME}
      ELASTIC_PASSWORD_FILE: /run/secrets/elastic_password
      xpack.security.enabled: true
      xpack.security.http.ssl.enabled: false
#      xpack.security.transport.ssl.enabled: false
    restart: no

networks:
  product-net:
    driver: bridge

volumes:
  product_mongo_data:
  product_elastic_data:

secrets:
  elastic_password:
    file: secrets/elastic_password.txt
  mongo_password:
    file: secrets/mongo_password.txt