services:
  gateway-redis-svc:
    container_name: gateway-redis
    image: redis:alpine
    ports:
      - "6380:6379"
    networks:
      - ecommerce-net
    restart: no

networks:
  ecommerce-net:
    external: true