services:
  user-postgres-svc:
    container_name: user-pg
    image: postgres:alpine
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - user-net
    volumes:
      - pgdata:/var/lib/postgresql/data
    secrets:
      - postgres_password
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
    restart: no

  user-mongo-svc:
    container_name: user-mongo
    image: mongo:latest
    ports:
      - "${MONGO_PORT}:27017"
    networks:
      - user-net
    volumes:
      - mongo:/mongo/data
    secrets:
      - mongo_password
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DB}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD_FILE: /run/secrets/mongo_password
    restart: no

  user-redis-svc:
    container_name: user-redis
    image: redis:alpine
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      - user-net
    restart: no

networks:
  user-net:
      driver: bridge

volumes:
  pgdata:
  mongo:

secrets:
  postgres_password:
    file: secrets/postgres_password.txt
  mongo_password:
    file: secrets/mongo_password.txt