services:
  auth-redis-svc:
    container_name: auth-redis
    image: redis:alpine
    ports:
      - "${AUTH_REDIS_PORT}:6379"
    networks:
      - ecommerce-net
    restart: no
    profiles:
      - dev
      - prod

  user-postgres-svc:
    container_name: user-pg
    image: postgres:alpine
    ports:
      - "${USER_POSTGRES_PORT}:5432"
    networks:
      - ecommerce-net
    volumes:
      - user_postgres_data:/var/lib/postgresql/data
    secrets:
      - user_postgres_password
    environment:
      POSTGRES_DB: ${USER_POSTGRES_DB}
      POSTGRES_USER: ${USER_POSTGRES_USER}
      POSTGRES_PASSWORD_FILE: /run/secrets/user_postgres_password
    restart: no
    profiles:
      - dev
      - prod

  user-redis-svc:
    container_name: user-redis
    image: redis:alpine
    ports:
      - "${USER_REDIS_PORT}:6379"
    networks:
      - ecommerce-net
    restart: no
    profiles:
      - dev
      - prod

  product-mongo-svc:
    container_name: product-mongo
    image: mongo:latest
    ports:
      - "${PRODUCT_MONGO_PORT}:27017"
    networks:
      - ecommerce-net
    volumes:
      - product_mongo_data:/data/db
    secrets:
      - product_mongo_password
    environment:
      MONGO_INITDB_DATABASE: ${PRODUCT_MONGO_DB}
      MONGO_INITDB_ROOT_USERNAME: ${PRODUCT_MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD_FILE: /run/secrets/product_mongo_password
    restart: no
    profiles:
      - dev
      - prod

  product-elastic-svc:
    container_name: product-elastic
    image: elasticsearch:9.1.5
    ports:
      - "${PRODUCT_ELASTIC_HTTP_PORT}:9200"
      - "${PRODUCT_ELASTIC_TRANSPORT_PORT}:9300"
    networks:
      - ecommerce-net
    volumes:
      - product_elastic_data:/usr/share/elasticsearch/data
    environment:
      discovery.type: single-node
      xpack.security.enabled: false
      action.auto_create_index: true
      ES_JAVA_OPTS: "-Xms1g -Xmx1g"
    restart: no
    profiles:
      - dev
      - prod

  product-kibana-svc:
    container_name: product-kibana
    image: kibana:9.1.5
    ports:
      - "${KIBANA_PORT}:5601"
    networks:
      - ecommerce-net
    environment:
      ELASTICSEARCH_HOSTS: http://product-elastic-svc:9200
      xpack.security.enabled: false
    depends_on:
      - product-elastic-svc
    restart: no
    profiles:
      - dev
      - prod

  order-postgres-svc:
    container_name: order-pg
    image: postgres:alpine
    ports:
      - "${ORDER_POSTGRES_PORT}:5432"
    networks:
      - ecommerce-net
    volumes:
      - order_postgres_data:/var/lib/postgresql/data
    secrets:
      - order_postgres_password
    environment:
      POSTGRES_DB: ${ORDER_POSTGRES_DB}
      POSTGRES_USER: ${ORDER_POSTGRES_USER}
      POSTGRES_PASSWORD_FILE: /run/secrets/order_postgres_password
    restart: no
    profiles:
      - dev
      - prod

  cart-postgres-svc:
    container_name: cart-pg
    image: postgres:alpine
    ports:
      - "${CART_POSTGRES_PORT}:5432"
    networks:
      - ecommerce-net
    volumes:
      - cart_postgres_data:/var/lib/postgresql/data
    secrets:
      - cart_postgres_password
    environment:
      POSTGRES_DB: ${CART_POSTGRES_DB}
      POSTGRES_USER: ${CART_POSTGRES_USER}
      POSTGRES_PASSWORD_FILE: /run/secrets/cart_postgres_password
    restart: no
    profiles:
      - dev
      - prod

  cart-redis-svc:
    container_name: cart-redis
    image: redis:alpine
    ports:
      - "${CART_REDIS_PORT}:6379"
    networks:
      - ecommerce-net
    restart: no
    profiles:
      - dev
      - prod

  payment-postgres-svc:
    container_name: payment-pg
    image: postgres:alpine
    ports:
      - "${PAYMENT_POSTGRES_PORT}:5432"
    networks:
      - ecommerce-net
    volumes:
      - payment_postgres_data:/var/lib/postgresql/data
    secrets:
      - payment_postgres_password
    environment:
      POSTGRES_DB: ${PAYMENT_POSTGRES_DB}
      POSTGRES_USER: ${PAYMENT_POSTGRES_USER}
      POSTGRES_PASSWORD_FILE: /run/secrets/payment_postgres_password
    restart: no
    profiles:
      - dev
      - prod

  notification-cassandra-svc:
    container_name: notification-cassandra
    image: cassandra:4.1
    ports:
      - "${NOTIFICATION_CASSANDRA_PORT}:9042"
    networks:
      - ecommerce-net
    volumes:
      - notification_cassandra_data:/var/lib/cassandra
    environment:
      CASSANDRA_CLUSTER_NAME: ${NOTIFICATION_CASSANDRA_CLUSTER_NAME}
      CASSANDRA_DC: dc1
      CASSANDRA_RACK: rack1
      CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
      CASSANDRA_KEYSPACE: notification_db
      MAX_HEAP_SIZE: "512M"
      HEAP_NEWSIZE: "256M"
    restart: no
    profiles:
      - dev
      - prod

  infra-kafka-svc:
    container_name: infra-kafka
    image: bitnami/kafka:latest
    ports:
      - "${KAFKA_BROKER_PORT}:9092"
      - "${KAFKA_CONTROLLER_PORT}:9093"
    networks:
      - ecommerce-net
    volumes:
      - infra_kafka_data:/bitnami/kafka
    environment:
      # Enable KRaft mode (no Zookeeper)
      KAFKA_CFG_PROCESS_ROLES: controller,broker
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093

      # Required even without auth
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT

      # Allow insecure listener (for dev only)
      ALLOW_PLAINTEXT_LISTENER: yes
    restart: no
    profiles:
      - dev
      - prod

  infra-vault-svc:
    container_name: infra-vault
    image: hashicorp/vault:latest
    ports:
      - "${VAULT_PORT}:8200"
    networks:
      - ecommerce-net
    volumes:
      - ./infra/vault/config/vault.hcl:/vault/config/vault.hcl:ro
      - ./infra/vault/data:/vault/data
      - ./infra/vault/logs:/vault/logs
    command: vault server -config=/vault/config/vault.hcl
    cap_add:
      - IPC_LOCK
    profiles:
      - dev
      - prod

  infra-otel-svc:
    container_name: infra-otel
    image: otel/opentelemetry-collector:latest
    ports:
      - "${OTLP_GRPC_RECEIVER_PORT}:4317" # OTLP gRPC receiver
      - "${OTLP_HTTP_RECEIVER_PORT}:4318" # OTLP http receiver
    networks:
      - ecommerce-net
    volumes:
      - ./infra/observability/otel-collector/config.yml:/etc/otelcol-contrib/config.yaml
    depends_on:
      - infra-prometheus-svc
      - infra-loki-svc
      - infra-tempo-svc
    profiles:
      - dev
      - prod

  infra-prometheus-svc:
    container_name: infra-prometheus
    image: prom/prometheus:main
    volumes:
      - ./infra/observability/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "${PROMETHEUS_PORT}:9090"
    networks:
      - ecommerce-net
    profiles:
      - dev
      - prod

  infra-loki-svc:
    container_name: infra-loki
    image: grafana/loki:latest
    ports:
      - "${LOKI_PORT}:3100"
    networks:
      - ecommerce-net
    volumes:
      - ./infra/observability/loki/config.yml:/etc/loki/config.yml
    command: -config.file=./etc/loki/config.yml
    profiles:
      - dev
      - prod

  infra-tempo-svc:
    container_name: infra-tempo
    image: grafana/tempo:latest
    ports:
      - "${TEMPO_PORT}:3200"
    networks:
      - ecommerce-net
    volumes:
      - ./infra/observability/tempo/tempo.yml:/etc/tempo/tempo.yml
    command: -config.file=./etc/tempo/tempo.yml
    profiles:
      - dev
      - prod

  infra-grafana-svc:
    container_name: infra-grafana
    image: grafana/grafana:latest
    ports:
      - "${GRAFANA_PORT}:3000"
    networks:
      - ecommerce-net
    environment:
      - GF_SECURITY_ADMIN=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - infra-prometheus-svc
      - infra-loki-svc
      - infra-tempo-svc
    profiles:
      - dev
      - prod

volumes:
  user_postgres_data:
  product_mongo_data:
  product_elastic_data:
  order_postgres_data:
  notification_cassandra_data:
  cart_postgres_data:
  payment_postgres_data:
  infra_kafka_data:
  otel_data:

secrets:
  user_postgres_password:
    file: secrets/user_postgres_password.txt
#  product_elastic_password:
#    file: secrets/product_elastic_password.txt
  product_mongo_password:
    file: secrets/product_mongo_password.txt
  order_postgres_password:
    file: secrets/order_postgres_password.txt
  cart_postgres_password:
    file: secrets/cart_postgres_password.txt
  payment_postgres_password:
    file: secrets/payment_postgres_password.txt

networks:
  ecommerce-net:
    external: true