services:
  product-mongo-svc:
    container_name: product-mongo
    image: mongo:latest
    ports:
      - "${MONGO_PORT}:27017"
    networks:
      - product-net
    volumes:
      - product-mongo-data:/data/db
    secrets:
      - mongo_password
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DB}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD_FILE: /run/secrets/mongo_password
    restart: no

  product-elasticsearch-svc:
    image: elasticsearch:9.1.5
    ports:
      - "${ELASTICSEARCH_HTTP_PORT}:9200"
      - "${ELASTICSEARCH_TRANSPORT_PORT}:9300"
    networks:
      - product-net
    volumes:
      - product-elasticsearch-data:/usr/share/elasticsearch/data
    secrets:
      - elasticsearch_password
    environment:
      - discovery.type=single-node
      - ELASTIC_USERNAME=${ELASTIC_USERNAME}
      - ELASTIC_PASSWORD_FILE=/run/secrets/elasticsearch_password
      - xpack.security.enabled=true
      - xpack.security.http.ssl.enabled=false
    restart: no

networks:
  product-net:
    driver: bridge

volumes:
  product-mongo-data:
  product-elasticsearch-data:

secrets:
  elasticsearch_password:
    file: secrets/elasticsearch_password.txt
  mongo_password:
    file: secrets/mongo_password.txt