services:
  notification-cassandra-svc:
    container_name: notification-cassandra
    image: cassandra:4.1
    ports:
      - "9042:9042"
    networks:
      - ecommerce-net
    volumes:
      - notification_cassandra_data:/var/lib/cassandra
    environment:
      CASSANDRA_CLUSTER_NAME: notification-cluster
      CASSANDRA_DC: dc1
      CASSANDRA_RACK: rack1
      CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
      CASSANDRA_KEYSPACE: notification_db
      MAX_HEAP_SIZE: "512M"
      HEAP_NEWSIZE: "256M"
    restart: no

volumes:
  notification_cassandra_data:

networks:
  ecommerce-net:
    external: true