services:
  cart-postgres-svc:
    container_name: cart-pg
    image: postgres:alpine
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - ecommerce-net
    volumes:
      - cartPgData:/var/lib/postgresql/data
    secrets:
      - postgres_password
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
    restart: no
  cart-redis-svc:
    container_name: cart-redis
    image: redis:alpine
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      - ecommerce-net
    restart: no

secrets:
  postgres_password:
    file: secrets/postgres_password.txt

volumes:
  cartPgData:

networks:
  ecommerce-net:
    external: true