name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build config-server
        run: ./gradlew :config-server:build

      - name: Build discovery-server
        run: ./gradlew :discovery-server:build

      - name: Build auth-service
        run: ./gradlew :auth-service:build

      - name: Build product-service
        run: ./gradlew :product-service:build

      - name: Build cart-service
        run: ./gradlew :cart-service:build

      - name: Build order-service
        run: ./gradlew :order-service:build

      - name: Build payment-service
        run: ./gradlew :payment-service:build

      - name: Build notification-service
        run: ./gradlew :notification-service:build

      - name: Build api-gateway
        run: ./gradlew :api-gateway:build